/* Stilizare globala tabela.*/
.table-style {
    font-family: "Raleway", sans-serif;
}

/* Stilizare legenda tabela.*/
.table-style thead tr th {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 18px 0 18px 30px;
}

/* Stilizare elemente din tabela.*/
.table-style tbody tr td {
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    padding: 18px 0 18px 30px;
}

/* Rotunjeste coltul din stanga-sus din legeda tabelei. Se incearca compatibilitate pe diferite browsers.*/
.table-style thead tr th:first-child {
    -webkit-border-top-left-radius: 18px;
    -moz-border-radius-topleft: 18px;
    border-top-left-radius: 18px;
}

/* Rotunjeste coltul din dreapta-sus din legeda tabelei. Se incearca compatibilitate pe diferite browsers.*/
.table-style thead tr th:last-child {
    -webkit-border-top-right-radius: 18px;
    -moz-border-radius-topright: 18px;
    border-top-right-radius: 18px;
    padding-right: 30px;
}

/* Rotunjeste coltul din dreapta-jos pentru ultimul element din. Se incearca compatibilitate pe diferite browsers.*/
.table-style tbody tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 18px;
    -moz-border-radius-bottomright: 18px;
    border-bottom-right-radius: 18px;
}

/* Rotunjeste coltul din stanga-jos pentru ultimul element din. Se incearca compatibilitate pe diferite browsers.*/
.table-style tbody tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 18px;
    -moz-border-radius-bottomleft: 18px;
    border-bottom-left-radius: 18px;
}