.background-white {
    background: #FFFFFF;
}

.background-light-grey{
    background: #F5F5F5;
}

.background-grey {
    background: #E5E5E5;
}

.background-dark {
    background: #272B37;
}

.color-white {
    color: #FFFFFF;
}

.color-dark {
    color: #272B37;
}

.color-dark-faded {
    color: #5b5b5b;
}

.color-green {
    color: #90a44b;
}

.color-red {
    color: #de674c;
}

.color-blue {
    color: #5eb1de;
}

.color-orange {
    color: #ea9e4a;
}

.color-violet {
    color: #8664b4;
}

.color-green-darker {
    color: #57a65e;
}